infra/incremental-county/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Self-looping, per-county INCREMENTAL ingestion orchestration. A Step Functions
  state machine runs one Fargate "load" task in --incremental mode (global advisory
  lock; loads only not-yet-loaded artifacts and writes a {processed,skipped} status
  JSON to S3), then decides — from that status and the seed-feeder checkpoint — whether
  to publish this cycle, do a final full publish, or wait and loop again. Two task
  definitions share ONE image (Dockerfile.reload); each sets its own EntryPoint because
  a Fargate command override cannot replace the image ENTRYPOINT. Pure CloudFormation
  (no SAM Transform).

Parameters:
  ImageUri:
    Type: String
    Description: ECR image URI (repo:tag) built from Dockerfile.reload (carries BOTH entrypoints).
  DatabaseUrlSecretArn:
    Type: String
    Description: Secrets Manager ARN holding the DIRECT (unpooled) Neon DATABASE_URL (ep-mute-leaf).
  PublishCredsSecretArn:
    Type: String
    Description: >
      Secrets Manager ARN of a JSON secret holding the 5 Filebase publish credentials as
      keys: S3_ENDPOINT, S3_BUCKET, S3_ACCESS_KEY_ID, S3_SECRET_ACCESS_KEY, FILEBASE_API_TOKEN.
  AppraisalBucketName:
    Type: String
    Default: elephant-oracle-node-environmentbucket-mmsoo3xbdi80
    Description: Bucket holding the county appraisal artifacts (loader reads from here).
  StatusBucketName:
    Type: String
    Default: elephant-oracle-node-environmentbucket-mmsoo3xbdi80
    Description: Bucket the incremental load writes its {processed,skipped} status JSON to. Also holds the seed feeder-state.json.
  SubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Subnets with egress to S3 + Neon (public subnet, or private + NAT).
  SecurityGroupId:
    Type: AWS::EC2::SecurityGroup::Id
    Description: Security group allowing outbound 443/5432.
  AssignPublicIp:
    Type: String
    Default: ENABLED
    AllowedValues: [ENABLED, DISABLED]
  TaskCpu:
    Type: String
    Default: "2048"
  TaskMemory:
    Type: String
    Default: "8192"
  BatchSize:
    Type: String
    Default: "20000"
  ServiceName:
    Type: String
    Default: incremental-county

Resources:
  LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/ecs/${ServiceName}"
      RetentionInDays: 30

  Cluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: !Ref ServiceName

  # Pulls the image, injects the DB secret AND the Filebase publish-creds secret, writes logs.
  ExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Policies:
        - PolicyName: ReadTaskSecrets
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource:
                  - !Ref DatabaseUrlSecretArn
                  - !Ref PublishCredsSecretArn

  # The incremental LOAD container: read appraisal artifacts, write the status JSON, emit metrics.
  LoadTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: IncrementalLoadTaskAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [s3:GetObject, s3:ListBucket]
                Resource:
                  - !Sub "arn:aws:s3:::${AppraisalBucketName}"
                  - !Sub "arn:aws:s3:::${AppraisalBucketName}/*"
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub "arn:aws:s3:::${StatusBucketName}/*"
              - Effect: Allow
                Action: cloudwatch:PutMetricData
                Resource: "*"

  # The PUBLISH container: talks to external Filebase via creds (no AWS S3), only emits metrics.
  PublishTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: IncrementalPublishTaskAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: cloudwatch:PutMetricData
                Resource: "*"

  # STEP=load INCREMENTAL=1 SKIP_CLEAR=1 -> incremental-only load (no clear, no completeness validate).
  # Per-county env (JURISDICTION_KEY, APPRAISAL_PREFIX, EXPECT_LETTER_STRAPS, INCREMENTAL_STATUS_URI)
  # arrives via Step Functions runtime container overrides.
  LoadTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub "${ServiceName}-load"
      RequiresCompatibilities: [FARGATE]
      NetworkMode: awsvpc
      Cpu: !Ref TaskCpu
      Memory: !Ref TaskMemory
      ExecutionRoleArn: !GetAtt ExecutionRole.Arn
      TaskRoleArn: !GetAtt LoadTaskRole.Arn
      EphemeralStorage:
        SizeInGiB: 50
      ContainerDefinitions:
        - Name: load
          Image: !Ref ImageUri
          Essential: true
          # A Fargate command override cannot REPLACE the image ENTRYPOINT, so set it explicitly.
          EntryPoint: ["sh", "scripts/reload-appraisal-entrypoint.sh"]
          Environment:
            - { Name: APPRAISAL_BUCKET, Value: !Ref AppraisalBucketName }
            - { Name: BATCH_SIZE, Value: !Ref BatchSize }
            - { Name: AWS_REGION, Value: !Ref AWS::Region }
          Secrets:
            - { Name: DATABASE_URL, ValueFrom: !Ref DatabaseUrlSecretArn }
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref LogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: load

  # Env-driven publish: COUNTY, VALIDATE_MODE (parquet-only|full), PUBLISH_APPROVED (empty=dry-run)
  # arrive via runtime overrides. Filebase creds are pulled from the single JSON publish secret.
  PublishTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub "${ServiceName}-publish"
      RequiresCompatibilities: [FARGATE]
      NetworkMode: awsvpc
      Cpu: !Ref TaskCpu
      Memory: !Ref TaskMemory
      ExecutionRoleArn: !GetAtt ExecutionRole.Arn
      TaskRoleArn: !GetAtt PublishTaskRole.Arn
      EphemeralStorage:
        SizeInGiB: 50
      ContainerDefinitions:
        - Name: publish
          Image: !Ref ImageUri
          Essential: true
          EntryPoint: ["sh", "scripts/query-table-publish-entrypoint.sh"]
          Secrets:
            - { Name: DATABASE_URL, ValueFrom: !Ref DatabaseUrlSecretArn }
            - { Name: S3_ENDPOINT, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_ENDPOINT::" }
            - { Name: S3_BUCKET, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_BUCKET::" }
            - { Name: S3_ACCESS_KEY_ID, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_ACCESS_KEY_ID::" }
            - { Name: S3_SECRET_ACCESS_KEY, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_SECRET_ACCESS_KEY::" }
            - { Name: FILEBASE_API_TOKEN, ValueFrom: !Sub "${PublishCredsSecretArn}:FILEBASE_API_TOKEN::" }
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref LogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: publish

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: states.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RunIncrementalTasks
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [ecs:RunTask, ecs:StopTask, ecs:DescribeTasks]
                Resource: "*"
              - Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !GetAtt ExecutionRole.Arn
                  - !GetAtt LoadTaskRole.Arn
                  - !GetAtt PublishTaskRole.Arn
              - Effect: Allow
                Action: [events:PutTargets, events:PutRule, events:DescribeRule]
                Resource: !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForECSTaskRule"
              - Effect: Allow
                Action: s3:GetObject
                Resource:
                  - !Sub "arn:aws:s3:::${StatusBucketName}/*"
                  - !Sub "arn:aws:s3:::${AppraisalBucketName}/*"
              - Effect: Allow
                Action: ssm:GetParameter
                Resource: "arn:aws:ssm:*:*:parameter/oracle/*"

  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Ref ServiceName
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        ClusterArn: !GetAtt Cluster.Arn
        LoadTaskDefArn: !Ref LoadTaskDefinition
        PublishTaskDefArn: !Ref PublishTaskDefinition
        Subnet0: !Select [0, !Ref SubnetIds]
        SecurityGroup: !Ref SecurityGroupId
        AssignPublicIp: !Ref AssignPublicIp
      DefinitionString: |
        {
          "Comment": "Self-looping per-county incremental ingestion: load (incremental) -> read status + feeder + approval -> publish/wait/complete -> loop.",
          "StartAt": "IncrementalLoad",
          "States": {
            "IncrementalLoad": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${LoadTaskDefArn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet0}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "${AssignPublicIp}"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "load",
                      "Environment": [
                        { "Name": "JURISDICTION_KEY", "Value.$": "$.jurisdictionKey" },
                        { "Name": "APPRAISAL_PREFIX", "Value.$": "$.appraisalPrefix" },
                        { "Name": "EXPECT_LETTER_STRAPS", "Value.$": "$.expectLetterStraps" },
                        { "Name": "INCREMENTAL", "Value": "1" },
                        { "Name": "SKIP_CLEAR", "Value": "1" },
                        { "Name": "STEP", "Value": "load" },
                        { "Name": "INCREMENTAL_STATUS_URI", "Value.$": "States.Format('s3://{}/{}', $.statusBucket, $.statusKey)" }
                      ]
                    }
                  ]
                }
              },
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 60, "MaxAttempts": 2, "BackoffRate": 2 }
              ],
              "ResultPath": "$.loadResult",
              "Next": "ReadStatus"
            },
            "ReadStatus": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
              "Parameters": {
                "Bucket.$": "$.statusBucket",
                "Key.$": "$.statusKey"
              },
              "ResultSelector": {
                "status.$": "States.StringToJson($.Body)"
              },
              "ResultPath": "$.statusRead",
              "Next": "ReadFeeder"
            },
            "ReadFeeder": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
              "Parameters": {
                "Bucket.$": "$.feederStateBucket",
                "Key.$": "$.feederStateKey"
              },
              "ResultSelector": {
                "feeder.$": "States.StringToJson($.Body)"
              },
              "ResultPath": "$.feederRead",
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.feederError", "Next": "FeederMissing" }
              ],
              "Next": "GetApproval"
            },
            "FeederMissing": {
              "Type": "Pass",
              "Result": { "feeder": { "nextSourceRowNumber": 0 } },
              "ResultPath": "$.feederRead",
              "Next": "GetApproval"
            },
            "GetApproval": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Parameters": {
                "Name.$": "States.Format('/oracle/{}/publish-approved', $.county)"
              },
              "ResultSelector": {
                "approved.$": "$.Parameter.Value"
              },
              "ResultPath": "$.approval",
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.approvalError", "Next": "NoApproval" }
              ],
              "Next": "ChangedChoice"
            },
            "NoApproval": {
              "Type": "Pass",
              "Result": { "approved": "" },
              "ResultPath": "$.approval",
              "Next": "ChangedChoice"
            },
            "ChangedChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.statusRead.status.skipped",
                  "BooleanEquals": true,
                  "Next": "Wait"
                },
                {
                  "Variable": "$.statusRead.status.processed",
                  "NumericGreaterThan": 0,
                  "Next": "ExportPublish"
                }
              ],
              "Default": "CompleteChoice"
            },
            "ExportPublish": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${PublishTaskDefArn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet0}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "${AssignPublicIp}"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "publish",
                      "Environment": [
                        { "Name": "COUNTY", "Value.$": "$.county" },
                        { "Name": "PUBLISH_APPROVED", "Value.$": "$.approval.approved" },
                        { "Name": "VALIDATE_MODE", "Value": "parquet-only" }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.publishResult",
              "Next": "CompleteChoice"
            },
            "CompleteChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.feederRead.feeder.nextSourceRowNumber",
                      "NumericGreaterThanEqualsPath": "$.seedTotal"
                    },
                    {
                      "Variable": "$.statusRead.status.processed",
                      "NumericEquals": 0
                    },
                    {
                      "Variable": "$.statusRead.status.skipped",
                      "BooleanEquals": false
                    }
                  ],
                  "Next": "FinalPublish"
                }
              ],
              "Default": "Wait"
            },
            "FinalPublish": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${PublishTaskDefArn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet0}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "${AssignPublicIp}"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "publish",
                      "Environment": [
                        { "Name": "COUNTY", "Value.$": "$.county" },
                        { "Name": "PUBLISH_APPROVED", "Value.$": "$.approval.approved" },
                        { "Name": "VALIDATE_MODE", "Value": "full" }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.finalPublishResult",
              "Next": "Succeed"
            },
            "Wait": {
              "Type": "Wait",
              "SecondsPath": "$.waitSeconds",
              "Next": "IncrementalLoad"
            },
            "Succeed": {
              "Type": "Succeed"
            }
          }
        }

Outputs:
  StateMachineArn:
    Value: !Ref StateMachine
  ClusterName:
    Value: !Ref Cluster
  LoadTaskDefinitionArn:
    Value: !Ref LoadTaskDefinition
  PublishTaskDefinitionArn:
    Value: !Ref PublishTaskDefinition
