infra/incremental-county/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Source-agnostic, per-county INCREMENTAL ingestion split into TWO state machines
  sharing one ECS cluster + image. LOAD machine: one execution per track
  (appraisal|permits|sunbiz|bbb), loads --incremental, flips a per-county
  publish-pending S3 flag when processed>0. PUBLISH machine: per-county singleton
  that polls the flag, exports+validates the query-table Parquet, and re-points the
  oracle-query-table-<county> IPNS. Pure CloudFormation (no SAM Transform).

Parameters:
  ImageUri:
    Type: String
    Description: ECR image URI (repo:tag) built from Dockerfile.reload (carries BOTH entrypoints).
  DatabaseUrlSecretArn:
    Type: String
    Description: Secrets Manager ARN holding the DIRECT (unpooled) Neon DATABASE_URL (ep-mute-leaf).
  PublishCredsSecretArn:
    Type: String
    Description: >
      Secrets Manager ARN of a JSON secret holding the 5 Filebase publish credentials as
      keys: S3_ENDPOINT, S3_BUCKET, S3_ACCESS_KEY_ID, S3_SECRET_ACCESS_KEY, FILEBASE_API_TOKEN.
  SourceBucketName:
    Type: String
    Default: elephant-oracle-node-environmentbucket-mmsoo3xbdi80
    Description: Bucket holding the county source artifacts for every track (loader reads from here).
  StatusBucketName:
    Type: String
    Default: elephant-oracle-node-environmentbucket-mmsoo3xbdi80
    Description: Bucket the incremental load writes its {processed,skipped} status JSON + the per-county publish-pending flag to. Also holds the seed feeder-state.json.
  SubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Subnets with egress to S3 + Neon (public subnet, or private + NAT).
  SecurityGroupId:
    Type: AWS::EC2::SecurityGroup::Id
    Description: Security group allowing outbound 443/5432.
  AssignPublicIp:
    Type: String
    Default: ENABLED
    AllowedValues: [ENABLED, DISABLED]
  TaskCpu:
    Type: String
    Default: "2048"
  TaskMemory:
    Type: String
    Default: "8192"
  PublishTaskMemory:
    Type: String
    Default: "16384"
    Description: Fargate memory (MiB) for publish tasks; full-county parquet export needs more than load.
  BatchSize:
    Type: String
    Default: "500"
  ServiceName:
    Type: String
    Default: incremental-county

Resources:
  LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/ecs/${ServiceName}"
      RetentionInDays: 30

  Cluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: !Ref ServiceName

  # Pulls the image, injects the DB secret AND the Filebase publish-creds secret, writes logs.
  ExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      Policies:
        - PolicyName: ReadTaskSecrets
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: secretsmanager:GetSecretValue
                Resource:
                  - !Ref DatabaseUrlSecretArn
                  - !Ref PublishCredsSecretArn

  # The incremental LOAD container: read source artifacts (any track), write status JSON + ledger, emit metrics.
  LoadTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: IncrementalLoadTaskAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [s3:GetObject, s3:ListBucket]
                Resource:
                  - !Sub "arn:aws:s3:::${SourceBucketName}"
                  - !Sub "arn:aws:s3:::${SourceBucketName}/*"
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub "arn:aws:s3:::${StatusBucketName}/*"
              - Effect: Allow
                Action: cloudwatch:PutMetricData
                Resource: "*"

  # The PUBLISH container: talks to external Filebase via creds (no AWS S3), only emits metrics.
  PublishTaskRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: IncrementalPublishTaskAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: cloudwatch:PutMetricData
                Resource: "*"
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub "arn:aws:s3:::${StatusBucketName}/incremental-status/*"

  # Source-agnostic incremental load. Per-execution env (TRACK, SOURCE_PREFIX,
  # JURISDICTION_KEY, INCREMENTAL_STATUS_URI) arrives via Step Functions runtime overrides.
  LoadTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub "${ServiceName}-load"
      RequiresCompatibilities: [FARGATE]
      NetworkMode: awsvpc
      Cpu: !Ref TaskCpu
      Memory: !Ref TaskMemory
      ExecutionRoleArn: !GetAtt ExecutionRole.Arn
      TaskRoleArn: !GetAtt LoadTaskRole.Arn
      EphemeralStorage:
        SizeInGiB: 50
      ContainerDefinitions:
        - Name: load
          Image: !Ref ImageUri
          Essential: true
          # A Fargate command override cannot REPLACE the image ENTRYPOINT, so set it explicitly.
          EntryPoint: ["sh", "scripts/incremental-load-entrypoint.sh"]
          Environment:
            - { Name: SOURCE_BUCKET, Value: !Ref SourceBucketName }
            - { Name: BATCH_SIZE, Value: !Ref BatchSize }
            - { Name: AWS_REGION, Value: !Ref AWS::Region }
          Secrets:
            - { Name: DATABASE_URL, ValueFrom: !Ref DatabaseUrlSecretArn }
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref LogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: load

  # Env-driven publish: COUNTY, VALIDATE_MODE (parquet-only|full), PUBLISH_APPROVED (empty=dry-run)
  # arrive via runtime overrides. Uses county-query-table-publish (Parquet → oracle-query-table-<county> IPNS).
  # Filebase creds are pulled from the single JSON publish secret.
  PublishTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub "${ServiceName}-publish"
      RequiresCompatibilities: [FARGATE]
      NetworkMode: awsvpc
      Cpu: !Ref TaskCpu
      Memory: !Ref PublishTaskMemory
      ExecutionRoleArn: !GetAtt ExecutionRole.Arn
      TaskRoleArn: !GetAtt PublishTaskRole.Arn
      EphemeralStorage:
        SizeInGiB: 100
      ContainerDefinitions:
        - Name: publish
          Image: !Ref ImageUri
          Essential: true
          EntryPoint: ["sh", "scripts/county-publish-entrypoint.sh"]
          Secrets:
            - { Name: DATABASE_URL, ValueFrom: !Ref DatabaseUrlSecretArn }
            - { Name: S3_ENDPOINT, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_ENDPOINT::" }
            - { Name: S3_BUCKET, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_BUCKET::" }
            - { Name: S3_ACCESS_KEY_ID, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_ACCESS_KEY_ID::" }
            - { Name: S3_SECRET_ACCESS_KEY, ValueFrom: !Sub "${PublishCredsSecretArn}:S3_SECRET_ACCESS_KEY::" }
            - { Name: FILEBASE_API_TOKEN, ValueFrom: !Sub "${PublishCredsSecretArn}:FILEBASE_API_TOKEN::" }
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref LogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: publish

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: states.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RunIncrementalTasks
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [ecs:RunTask, ecs:StopTask, ecs:DescribeTasks]
                Resource: "*"
              - Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !GetAtt ExecutionRole.Arn
                  - !GetAtt LoadTaskRole.Arn
                  - !GetAtt PublishTaskRole.Arn
              - Effect: Allow
                Action: [events:PutTargets, events:PutRule, events:DescribeRule]
                Resource: !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForECSTaskRule"
              - Effect: Allow
                Action: [s3:GetObject, s3:PutObject]
                Resource:
                  - !Sub "arn:aws:s3:::${StatusBucketName}/*"
                  - !Sub "arn:aws:s3:::${SourceBucketName}/*"
              - Effect: Allow
                Action: s3:ListBucket
                Resource: !Sub "arn:aws:s3:::${StatusBucketName}"
              # The LOAD machine flips, and the PUBLISH machine clears, the per-county publish-pending flag.
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub "arn:aws:s3:::${StatusBucketName}/incremental-status/*"
              - Effect: Allow
                Action: ssm:GetParameter
                Resource: "arn:aws:ssm:*:*:parameter/oracle/*"

  # LOAD machine — source-agnostic, ONE execution per source/track per county. Loads only,
  # flags a per-county publish-pending marker when it changed rows, and loops. Never publishes.
  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ServiceName}-load"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        ClusterArn: !GetAtt Cluster.Arn
        LoadTaskDefArn: !Ref LoadTaskDefinition
        Subnet0: !Select [0, !Ref SubnetIds]
        SecurityGroup: !Ref SecurityGroupId
        AssignPublicIp: !Ref AssignPublicIp
      DefinitionString: |
        {
          "Comment": "Source-agnostic per-county incremental LOAD loop for ONE track: load (incremental) -> read status + feeder -> flag publish-pending when processed>0 -> loop until feeder drained (appraisal) or forever (permit deltas). Never publishes.",
          "StartAt": "IncrementalLoad",
          "States": {
            "IncrementalLoad": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${LoadTaskDefArn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet0}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "${AssignPublicIp}"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "load",
                      "Environment": [
                        { "Name": "JURISDICTION_KEY", "Value.$": "$.jurisdictionKey" },
                        { "Name": "TRACK", "Value.$": "$.track" },
                        { "Name": "SOURCE_PREFIX", "Value.$": "$.sourcePrefix" },
                        { "Name": "INCREMENTAL_STATUS_URI", "Value.$": "States.Format('s3://{}/{}', $.statusBucket, $.statusKey)" }
                      ]
                    }
                  ]
                }
              },
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 60, "MaxAttempts": 2, "BackoffRate": 2 }
              ],
              "ResultPath": "$.loadResult",
              "Next": "ReadStatus"
            },
            "ReadStatus": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
              "Parameters": {
                "Bucket.$": "$.statusBucket",
                "Key.$": "$.statusKey"
              },
              "ResultSelector": {
                "status.$": "States.StringToJson($.Body)"
              },
              "ResultPath": "$.statusRead",
              "Next": "ReadFeeder"
            },
            "ReadFeeder": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
              "Parameters": {
                "Bucket.$": "$.feederStateBucket",
                "Key.$": "$.feederStateKey"
              },
              "ResultSelector": {
                "feeder.$": "States.StringToJson($.Body)"
              },
              "ResultPath": "$.feederRead",
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.feederError", "Next": "FeederMissing" }
              ],
              "Next": "ChangedChoice"
            },
            "FeederMissing": {
              "Type": "Pass",
              "Result": { "feeder": { "nextSourceRowNumber": 0 } },
              "ResultPath": "$.feederRead",
              "Next": "ChangedChoice"
            },
            "ChangedChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.statusRead.status.skipped",
                  "BooleanEquals": true,
                  "Next": "Wait"
                },
                {
                  "Variable": "$.statusRead.status.processed",
                  "NumericGreaterThan": 0,
                  "Next": "BuildPendingTrue"
                }
              ],
              "Default": "CompleteChoice"
            },
            "BuildPendingTrue": {
              "Type": "Pass",
              "Result": { "pending": true },
              "ResultPath": "$.pendingFlag",
              "Next": "SetPublishPending"
            },
            "SetPublishPending": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
              "Parameters": {
                "Bucket.$": "$.statusBucket",
                "Key.$": "States.Format('incremental-status/{}/publish-pending.json', $.county)",
                "Body.$": "States.JsonToString($.pendingFlag)",
                "ContentType": "application/json"
              },
              "ResultPath": "$.setPending",
              "Next": "CompleteChoice"
            },
            "CompleteChoice": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    {
                      "Variable": "$.feederRead.feeder.nextSourceRowNumber",
                      "NumericGreaterThanEqualsPath": "$.seedTotal"
                    },
                    {
                      "Variable": "$.statusRead.status.skipped",
                      "BooleanEquals": false
                    }
                  ],
                  "Next": "Succeed"
                }
              ],
              "Default": "Wait"
            },
            "Wait": {
              "Type": "Wait",
              "SecondsPath": "$.waitSeconds",
              "Next": "IncrementalLoad"
            },
            "Succeed": {
              "Type": "Succeed"
            }
          }
        }

  # PUBLISH machine — per-county singleton, ONE execution per county. Polls the publish-pending
  # flag any LOAD execution sets; when set it clears the flag, exports+validates the county
  # query-table Parquet, and re-points oracle-query-table-<county> IPNS. Coalesces all tracks.
  PublishStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ServiceName}-publish"
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionSubstitutions:
        ClusterArn: !GetAtt Cluster.Arn
        PublishTaskDefArn: !Ref PublishTaskDefinition
        Subnet0: !Select [0, !Ref SubnetIds]
        SecurityGroup: !Ref SecurityGroupId
        AssignPublicIp: !Ref AssignPublicIp
      DefinitionString: |
        {
          "Comment": "Per-county singleton PUBLISH loop: poll publish-pending flag -> when set, clear it, export+validate query-table Parquet, re-point oracle-query-table-<county> IPNS -> wait -> loop. Coalesces signals from every LOAD execution so appraisal + permit loads never race on the shared county Parquet.",
          "StartAt": "StopCheck",
          "States": {
            "StopCheck": {
              "Type": "Choice",
              "Choices": [
                {
                  "And": [
                    { "Variable": "$.stop", "IsPresent": true },
                    { "Variable": "$.stop", "BooleanEquals": true }
                  ],
                  "Next": "Done"
                }
              ],
              "Default": "ReadPending"
            },
            "Done": {
              "Type": "Succeed"
            },
            "ReadPending": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
              "Parameters": {
                "Bucket.$": "$.statusBucket",
                "Key.$": "States.Format('incremental-status/{}/publish-pending.json', $.county)"
              },
              "ResultSelector": {
                "flag.$": "States.StringToJson($.Body)"
              },
              "ResultPath": "$.pendingRead",
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.pendingError", "Next": "NotPending" }
              ],
              "Next": "TryParsePendingString"
            },
            "NotPending": {
              "Type": "Pass",
              "Result": { "flag": { "pending": false } },
              "ResultPath": "$.pendingRead",
              "Next": "PublishWait"
            },
            "TryParsePendingString": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.pendingRead.flag",
                  "IsString": true,
                  "Next": "ParsePendingString"
                }
              ],
              "Default": "ResolvePendingFlag"
            },
            "ParsePendingString": {
              "Type": "Pass",
              "Parameters": {
                "county.$": "$.county",
                "statusBucket.$": "$.statusBucket",
                "waitSeconds.$": "$.waitSeconds",
                "pendingRead": {
                  "flag.$": "States.StringToJson($.pendingRead.flag)"
                }
              },
              "Next": "TryParsePendingString"
            },
            "ResolvePendingFlag": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.pendingRead.flag.pending",
                  "BooleanEquals": true,
                  "Next": "BuildPendingFalse"
                },
                {
                  "Variable": "$.pendingRead.flag.pending",
                  "BooleanEquals": false,
                  "Next": "PublishWait"
                }
              ],
              "Default": "PublishWait"
            },
            "BuildPendingFalse": {
              "Type": "Pass",
              "Result": { "pending": false },
              "ResultPath": "$.pendingFlag",
              "Next": "ClearPending"
            },
            "ClearPending": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
              "Parameters": {
                "Bucket.$": "$.statusBucket",
                "Key.$": "States.Format('incremental-status/{}/publish-pending.json', $.county)",
                "Body.$": "States.JsonToString($.pendingFlag)",
                "ContentType": "application/json"
              },
              "ResultPath": "$.clearPending",
              "Next": "GetApproval"
            },
            "GetApproval": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Parameters": {
                "Name.$": "States.Format('/oracle/{}/publish-approved', $.county)"
              },
              "ResultSelector": {
                "approved.$": "$.Parameter.Value"
              },
              "ResultPath": "$.approval",
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.approvalError", "Next": "NoApproval" }
              ],
              "Next": "ExportPublish"
            },
            "NoApproval": {
              "Type": "Pass",
              "Result": { "approved": "" },
              "ResultPath": "$.approval",
              "Next": "ExportPublish"
            },
            "ExportPublish": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${ClusterArn}",
                "TaskDefinition": "${PublishTaskDefArn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ["${Subnet0}"],
                    "SecurityGroups": ["${SecurityGroup}"],
                    "AssignPublicIp": "${AssignPublicIp}"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "publish",
                      "Environment": [
                        { "Name": "COUNTY", "Value.$": "$.county" },
                        { "Name": "PUBLISH_APPROVED", "Value.$": "$.approval.approved" },
                        { "Name": "VALIDATE_MODE", "Value": "parquet-only" }
                      ]
                    }
                  ]
                }
              },
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 60, "MaxAttempts": 2, "BackoffRate": 2 }
              ],
              "ResultPath": "$.publishResult",
              "Next": "PublishWait"
            },
            "PublishWait": {
              "Type": "Wait",
              "SecondsPath": "$.waitSeconds",
              "Next": "StopCheck"
            }
          }
        }

Outputs:
  StateMachineArn:
    Value: !Ref StateMachine
  PublishStateMachineArn:
    Value: !Ref PublishStateMachine
  ClusterName:
    Value: !Ref Cluster
  LoadTaskDefinitionArn:
    Value: !Ref LoadTaskDefinition
  PublishTaskDefinitionArn:
    Value: !Ref PublishTaskDefinition
